/* Color Palette */
$charcoal: #1E1F24;
$slate: #2C2E35;
$off-white: #F4F4F6;
$mid-gray: #8A8D96;
$hot-pink: #FF2E88;
$illini-orange: #FF5F05;

/* Color Scheme */
$bg-dark: $slate;
$bg-light: $off-white;
$txt-dark: $charcoal;
$txt-light: $off-white;
$txt2-dark: $slate;
$txt2-light: $mid-gray;

$std-pad: 20px;

@mixin dark-scheme {
    background-color: $bg-dark;
    color: $txt-light;
}

@mixin light-scheme {
    background-color: $bg-light;
    color: $txt-dark;
}

@mixin header-footer-scheme {
    background-color: $charcoal;  /* Darkest color on page */
    color: $txt-light;
    a {
        color: $txt-light;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

body {
    margin: 0;
}

section {
    padding: $std-pad;
    text-align: center;
}

h1 {
    color: transparent;
    background: linear-gradient(to right, $hot-pink, $illini-orange);
    background-clip: text;
    display: inline-block;
    font-size: 4rem;
}

#header {
    @include header-footer-scheme;
    padding: $std-pad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}

#nav-bar {
    display: flex;
    gap: $std-pad;
}

#head-link {
    font-size: 1.5rem;
}

#section0 {
    @include dark-scheme;
}

#section1 {
    @include light-scheme;
}

#section2 {
    @include dark-scheme;
}

#footer {
    @include header-footer-scheme;
    padding: $std-pad;
    text-align: center;
}
